# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ProjectTemplate.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


# Rider project files
.idea/
.idea_modules/

# Visual Studio files
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build files
bin/
obj/
artifacts/

# Other
*.log
*.tmp